

.splash
{
    display:block;
    padding-right: 100px;
    padding-left: 100px;
    position: absolute;

}

.splash-image
{
padding-left: 0px;
padding-right: 0px;
display:table-cell;
vertical-align: middle;

  }
.login-form {
  display:table-cell;
  vertical-align:top;
  margin-left: auto;
  margin-right: auto;


  width: 100%;
   border-radius: 8px;

}


.login-form {
  text-align: left;
  padding: 10px 10px;
  font-family: "monospace";
  font-size: 10px;
  width: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-image {
  padding: 50px 50px;

}

.header {
  padding: 0px;
  text-align: center;
  background: #f2a900;
  color: white;
    font-family: "monospace";
  font-size: 12px;
   border-radius: 8px;
}
