* {

  margin: 0%;
  padding: 0%;


}

.container {
 height:auto;
 width: 100%;
 background-image: url(media/images/background.png);
 background-size:cover;
 background-position: center;
background-repeat: no-repeat;
box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.877);
padding-left: 5%;
padding-right: 5%;
box-sizing: border-box;
position:relative;
background-attachment: fixed;


}

.navbar {
    
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}

.logo{
    padding-top: 5%;
    padding-left: 10%;
    width: 100px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    padding-top: 5%;
}

nav ul li a{

    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px; 
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.content p{
    font-size: 20px;
    
    margin-top: 24px; 
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.content {
    padding-left: 20px;
    margin-left: 10%;
    margin-top: 10%;
}

.content .btn{

    display: inline-block;
    background: linear-gradient(45deg, #ad17a1, #f877d6);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(0, 0, 0, 0.877);
    font-family: 'Ubuntu', sans-serif;

}

.social-links {

    transform: rotate(-90deg);
    position:fixed;
    left: -80px;
    bottom: 180px; 
}

.social-links a{

text-decoration: none;
color: white;
padding-left: 10px;
padding-right: 20px;
font-size: 14px;
font-family: 'Ubuntu', sans-serif;

}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}

h1:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #7c0cfb, 
            0 0 0 #fd2c9f, 
            0 0 0 #f420fb, 
            0 0 0 #ffffff;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #7c0cfb, 
            0 0.25em 0 #fd2c9f, 
            0 -0.125em 0 #f420fb, 
            0 -0.25em 0 #ffffff;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #7c0cfb, 
            0 -0.125em 0 #fd2c9f, 
            0 0.0625em 0  #f420fb, 
            0 0.125em 0 #ffffff;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #7c0cfb, 
            0 0.0625em 0 #fd2c9f, 
            0 -0.03125em 0 #f420fb, 
            0 -0.0625em 0 #ffffff;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #7c0cfb, 
            0 0 0 #fd2c9f, 
            0 0 0 #f420fb, 
            0 0 0 #ffffff;
    }


    95% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #7c0cfb, 
            0 0 0 #fd2c9f, 
            0 0 0 #f420fb, 
            0 0 0 #ffffff;
    }
}

